<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
</head>
<h1> <%= title%></h1><br>
<body>

<div class="container">
	
	<ul>
		<% for(var i=0;i<items.length;i++){%>
		<li>
			<%=items[i].desc %>
		</li>
		<% } %>
	</ul>
<form action="/add" method="post">
	<input type="text" name="newItem">
	<input type="submit" name="btn">
	
</form>
	
</div>

<script  src="jquery/dist/jquery.js"></script>
<script  src="bootstrap/dist/js/bootstrap.js"></script>
</body>

</html>